@using Microsoft.AspNet.Identity
@if (!User.Identity.IsAuthenticated)
{
    <div class="navbar-collapse collapse nav navbar-nav navbar-right userLinks">
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Registration", "Home")">Registration</a></li>
            <li><a href="@Url.Action("Login", "Home")">Login</a></li>
        </ul>
    </div>
}
else
{
    <div class="navbar-collapse collapse userLinks nav navbar-nav userLinks">
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Dashboard","User")" class="userLink dashboard">Dashboard</a></li>
            <li><a href="@Url.Action("AddContacts","User")" class="userLink addcontacts">Add Contacts</a></li>
            <li><a href="@Url.Action("SyncContacts","User")" class="userLink synccontacts">Sync Contacts</a></li>
            <li><a href="@Url.Action("Settings","User")" class="userLink settings">Setting</a></li>
        </ul>
    </div>
    using (Html.BeginForm("Logout","Home",FormMethod.Post, new { @id="logout"}))
    {
        <div class="navbar-collapse collapse nav navbar-nav navbar-right userLinks">
            <ul class="nav navbar-nav">
                <li><a href="#">@User.Identity.GetUserName()</a></li>
                <li><a href='javascript:document.getElementById("logout").submit()'>Logout</a></li>
            </ul>
        </div>
    }
}