@model ContactHub_MVC.Models.UserModel.AddContactsViewModel
@{
    ViewBag.Title = "AddContacts";
}
@Styles.Render("~/Content/jsany_Bootstrap")
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h2 class="forColorWhite">Add Contacts</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @using (Ajax.BeginForm("AddContacts", "User", new AjaxOptions() { HttpMethod = "Post" }, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.FileNames, new { @id = "fileNames" })
                        <div class="col-md-7">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.FirstName)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.FirstName).ToString().ToLower() })
                                        @Html.ValidationMessageFor(v => v.FirstName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.MiddleName)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.MiddleName).ToString().ToLower() })
                                        @Html.ValidationMessageFor(v => v.MiddleName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.LastName)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.LastName).ToString().ToLower() })
                                        @Html.ValidationMessageFor(v => v.LastName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.NickName)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.NickName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.NickName).ToString().ToLower() })
                                        @Html.ValidationMessageFor(v => v.NickName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.Dob)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Dob, new { @class = "form-control datepicker", @placeholder = Html.DisplayNameFor(n => n.Dob).ToString().ToLower() })
                                        @Html.ValidationMessageFor(v => v.Dob)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.EmailAddress)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.EmailAddress).ToString().ToLower() })
                                        @Html.ValidationMessageFor(v => v.EmailAddress)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.Phone)</label>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.Phone).ToString().ToLower(), @maxlength = "10" })
                                        @Html.ValidationMessageFor(v => v.Phone)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <input class="clearfix" type="file" name="uploadFiles" id="uploadFiles" multiple />
                            <div class="page-header hide" id="validFileHeader">
                                <h4 class="forColorBlack">Valid Files</h4>
                            </div>
                            <ul class="list-group" id="validFileList"></ul>
                            <div class="page-header hide" id="invalidFileHeader">
                                <button class="btn btn-danger btn-xs pull-right" type="button" id="clearInvalid">Clear</button>
                                <h4 class="forColorBlack">Invalid Files</h4>
                            </div>
                            <ul class="list-group" id="invalidFileList"></ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="page-header">
            <h2 class="forColorWhite">Contacts</h2>
        </div>
        @Html.Partial("Partial/_Contacts", Model.Contacts)
    </div>
</div>
@Scripts.Render("~/Script/bootstrap")
@Scripts.Render("~/Script/jsany_Bootstrap")
@Scripts.Render("~/Scripts/BootstrapDatePicker")
@Scripts.Render("~/Script/jQuery-Unobtrusive")
<script>System.import("../Scripts/app/addContacts.js")</script>