@model ContactHub_MVC.Models.UserModel.AddContactsViewModel
@{
    ViewBag.Title = "AddContacts";
}
@Styles.Render("~/Content/jsany_Bootstrap")
<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h2 class="forColorWhite">Add Contacts</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.FirstName)</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.FirstName).ToString().ToLower() })
                                    @Html.ValidationMessageFor(v => v.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.MiddleName)</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.MiddleName).ToString().ToLower() })
                                    @Html.ValidationMessageFor(v => v.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.LastName)</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.LastName).ToString().ToLower() })
                                    @Html.ValidationMessageFor(v => v.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.NickName)</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.NickName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.NickName).ToString().ToLower() })
                                    @Html.ValidationMessageFor(v => v.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.Dob)</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Dob, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.Dob).ToString().ToLower() })
                                    @Html.ValidationMessageFor(v => v.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.EmailAddress)</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.EmailAddress).ToString().ToLower() })
                                    @Html.ValidationMessageFor(v => v.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">@Html.DisplayNameFor(n => n.Phone)</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = Html.DisplayNameFor(n => n.Phone).ToString().ToLower() })
                                    @Html.ValidationMessageFor(v => v.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                <i class="fa fa-picture-o fa-5x"></i>
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                            <div>
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="..."></span>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="page-header">
            <h2 class="forColorWhite">Contacts</h2>
        </div>
        @Html.Partial("Partial/_Contacts", Model.Contacts)
    </div>
</div>
@Scripts.Render("~/Script/bootstrap")
@Scripts.Render("~/Script/jsany_Bootstrap")
<script>System.import("../Scripts/app/Account.js")</script>