@model ContactHub_MVC.Models.UserModel.ContactViewModel
@{
    ViewBag.Title = "Dashboard";
}

<div class="page-header">
    <h2 class="forColorWhite">Dashboard</h2>
</div>
<div class="row">
    <div class="col-md-5 table-responsive">
        <table class="table table-hover thumbnail">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Phone</th>
                    <th>Gender</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ContactList)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.EmailAddress</td>
                        <td>@item.Phone</td>
                        <td>@item.Gender</td>
                        <td>
                            <button type="button" class="fa fa-edit" value="@item.Id" id="editContact"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-7">
        <div id="contactError"></div>
        <div id="contactDetail"></div>
    </div>
</div>
@Scripts.Render("~/Script/jQuery")
@Scripts.Render("~/Script/bootstrap")
<script>System.import("../Scripts/app/userdashboard.js")</script>