@model ContactHub_MVC.Models.UserModel.SyncContacts
@{
    ViewBag.Title = "Restore Contacts";
}

<div class="row">
    <div class="col-md-4">
        <div class="page-header">
            <h2 class="forColorWhite">Sync Contacts</h2>
        </div>
        <div class="row hide" id="syncStatus">
            <div class="col-md-12" id="status"></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Restore Contacts</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-4 col-lg-3 col-sm-3 control-label">@Html.DisplayNameFor(d => d.ContactMode)</label>
                        <div class="col-md-8 col-lg-8 col-sm-5">
                            @Html.DropDownListFor(m => m.ContactMode, (IEnumerable<SelectListItem>)Model.ContactModeList, "Select", new { @class = "form-control", @id = "contactMode" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-lg-3 col-sm-3 control-label">@Html.DisplayNameFor(d => d.PhoneNumber)</label>
                        <div class="col-md-4 col-lg-3 col-sm-2">
                            @Html.DropDownListFor(m => m.DialCode, Enumerable.Empty<SelectListItem>(), "Dial code", new { @class = "form-control", @id = "dialcode" })
                        </div>
                        <div class="col-md-4 col-lg-3 col-sm-3">
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @id = "phoneNumber" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-sm-3 col-lg-2 col-md-offset-4 col-sm-offset-3 col-lg-offset-3">
                            <button class="btn btn-primary" id="restore">Sync</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="page-header">
            <h2 class="forColorWhite">Contacts</h2>
        </div>
        <div id="contactError"></div>
        @Html.Partial("Partial/_SyncContacts", Model.ContactList)
    </div>
    <div class="col-md-3 hide" id="detailColumn">
        <div class="page-header">
            <h2 class="forColorWhite">Contact Detail</h2>
        </div>
        <div id="showDetail">

        </div>
    </div>

</div>
@Scripts.Render("~/Script/bootstrap")
<script>System.import("../Scripts/app/Account.js")</script>
<script>System.import("../Scripts/app/syncContacts.js")</script>