@model ContactHub_MVC.Models.UserModel.ContactDetails

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <i class="fa @(Model.Gender.ToLower() == "male" ? "fa-male":"fa-female") fa-5x"/>
            <div class="caption table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Id</td>
                            <td>@Html.DisplayFor(d=>d.Id)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(n => n.FullName)</td>
                            <td>@Html.DisplayFor(d => d.FullName)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(n => n.Dob)</td>
                            <td>@Html.DisplayFor(d => d.Dob)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(n => n.Gender)</td>
                            <td>@Html.DisplayFor(d => d.Gender)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(n => n.EmailAddress)</td>
                            <td>@Html.DisplayFor(d => d.EmailAddress)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(n => n.Phone)</td>
                            <td>@Html.DisplayFor(d => d.Phone)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
