@model  ContactHub_MVC.Models.UserModel.SyncContacts

<div class="table-responsive thumbnail">
    <table class="table text-center text-justify table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Gender</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.ContactList.Count; i++)
            {
                <tr>
                    <td>@Html.CheckBoxFor(m => Model.ContactList[i].IsSelected, new { @class="sync_contacts"}) @Html.HiddenFor(h=>h.ContactList[i].Id)</td>
                    <td>@Model.ContactList[i].FullName</td>
                    <td>@Model.ContactList[i].EmailAddress</td>
                    <td>@Model.ContactList[i].Gender</td>
                    <td>@Model.ContactList[i].Phone</td>
                    <td>
                        <button class="fa fa-eye btn-link customLink" value="@Model.ContactList[i].Id" id="show"></button>
                        <button class="fa fa-download btn-link customLink" value="@Model.ContactList[i].Id" id="download"></button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6">
                    <button type="button" class="btn btn-default" id="selectall"><i class="fa fa-check-square-o"></i> Select All</button>
                    <button type="button" class="btn btn-default" id="selectnone"><i class="fa fa-square-o"></i> Select None</button>
                    <div class="dropup pull-right">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="fileType">
                            <i class="fa fa-download"></i> Download All <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="fileType">
                            <li><a>Choose file type</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a rel="pdf" id="downloadAll">Portable Document Format (PDF)</a></li>
                            <li><a rel="txt" id="downloadAll">Plain Text (Txt)</a></li>
                            <li><a rel="csv" id="downloadAll">Comma Separated Values (Csv)</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>