@model ContactHub_MVC.Models.AccountModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Html.BeginForm("", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="modal-header">
                <h4 class="modal-title" id="myModal-label">Forgot Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.LabelFor(d=>d.EmailAddress, new { @class= "col-sm-4 control-label", @for = "form-group-input" })
                    <div class="col-sm-8 col-md-8">
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EmailAddress)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/Script/jQuery")
@Scripts.Render("~/Script/jQuery-Unobtrusive")
@Scripts.Render("~/Script/bootstrap")
